@use "../../../../defaultSettings/assets/css/customStyle.scss" as custom;

.hw-teamOverview-wrapper {
    .hw-teamOverview-item-wrapper {
        a {
            text-decoration: none;
            img {
                aspect-ratio: 251/308;
                object-fit: cover;
                border-radius: 2px;
                box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.25);
            }
            .hw-teamOverview-item-content-text {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                // padding: 0 16px 32px 16px;
                margin-top: 46px;
                color: #000;
                @media all and (max-width: custom.$hw-bp-t) {
                    margin-top: 26px;
                }
                @media all and (max-width: custom.$hw-bp-m) {
                    margin-top: 26px;
                }
                .hw-teamOverview-item-content-name {
                    font-family: custom.$hw-ff-extraBold;
                    font-size: custom.$hw-fs-md;
                    text-transform: uppercase;
                    line-height: 1;
                }
                .hw-teamOverview-item-content-job {
                    // text-transform: uppercase;
                    font-size: custom.$hw-fs-base;
                    line-height: 1;
                }
            }
        }
    }
    .hw-teamOverview-break-small {
        @media all and (max-width: custom.$hw-bp-m) {
            display: none;
        }
    }
    .hw-teamOverview-break-big {
        // @media all and (max-width: 767px) {
        //     display: none;
        // }
        img {
            aspect-ratio: 1400 / 477;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}
